<div>Hello {{title}}</div>
<div> <a href="/stations">Stations</a> </div>
<div class="content">
  <router-outlet></router-outlet>

</div>
<div> <a routerLink="/station" [queryParams]="{q:2}" routerLinkActive="active">GetStations2</a> </div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div> <a href="/station">Stations1</a> </div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div> <a href="/station/:id/metric">MetricForStation1</a> </div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  {{message}}
</div>


